<div class="container">
    <h1>Contacto component</h1>


    <div id="texto" #textos>
        <p>
            Esta es la pagina de contacto puedes enviarnos cualquiuer duda
        </p>

    </div>

<!--     
    <br>
    <br>
    <br>
    <label for=""> Tamaño del Slider: </label>
    <input type="text" [(ngModel)]="widthSlider"/>
    <button class="button" (click)="cargarSlider()">Cargar Slider</button>
    <button class="button" (click)="resetSlider()">Resetear Slider</button>
    <div *ngIf="anchuraSlider">
        
        <app-slider [anchura]="anchuraSlider"
            [etiquetas]="captions" 
            (conseguirAutor)="getAutor($event)"          
        >
        </app-slider>
    </div>

    <div *ngIf="autor">
        <strong>Autor: </strong> {{autor. nombre + " " + autor.website}}
    </div> -->

</div>