<div id="title">
    <h1> {{title}} </h1>
    <h2> {{subtitle}} </h2>
    <p> {{email}} </p>
</div>

<article class="about">
    <h2>Sobre mí</h2>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi in purus vel elit pulvinar cursus quis sed nibh. Vestibulum fringilla sed dui at euismod. Mauris at porttitor arcu. Cras id tincidunt neque, hendrerit posuere nisl. Pellentesque ac consequat arcu. Cras sollicitudin ultrices dolor quis euismod. Aenean efficitur dapibus leo, in pulvinar mauris pharetra ut. Integer vel tellus convallis, pretium elit eget, tincidunt quam. Aliquam convallis erat quis urna tincidunt porttitor.</p>

</article>
