/* You can add global styles to this file, and also import other style files */

/* Importando las fuentes */
@font-face {
    font-family: "yanone";
    src: url("./fonts/yanone.ttf");
}

@font-face {
    font-family: "finger";
    src: url("./fonts/finger.ttf");
}

/* Estilos generales */

*{
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "yanone", Arial, Helvetica, sans-serif;
    font-size: 20px;
    background: url("../img/pattern.png");
    position: fixed;
}